[class*="-section"] {
  height: 100vh;
  float: left;
  position: relative;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-half {
  width: 49.999%;
}

.col-full {
  width: 100%;
}

.clearfix {
  clear: both;
}

.left-section {
  width: 60vw;
  background-color: #062863;
}

.left-section h1 {
  color: #083e9e;
  text-align: center;
  font-size: 1.5rem;
}

.left-section p {
  text-align: center;
  color: #627081;
  margin-bottom: 1rem;
}

.left-section .brand {
  background: url("../assets/images/logo-light.png") center center no-repeat;
  height: 36px;
  background-size: contain;
  margin: 2rem 0;
}

.left-section .form-area {
  width: 70%;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 12px 12px 12px 0;
  margin: 0 auto;
  display: grid;
}

.right-section {
  width: 40vw;
  background-color: #efefef;
}

.right-section .hero {
  background: url("../assets/images/hero.png") bottom center no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.form-area .form-control {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.form-control label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 8px;
}

.form-control select,
.form-control input:not([type="radio"]) {
  height: 48px;
  width: 100%;
  padding-left: 16px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #edf2f7;
  border: none;
}

.form-area input[type="button"] {
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #36c57c;
  color: #fff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: background-color ease-out 0.2s;
}

.form-area input[type="button"]:hover {
  background-color: #227a4d;
}

.form-area input[type="button"]:disabled {
  background-color: #cccccc;
}

.plans {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5rem;
}

.plan {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  background: #efefef;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color ease-out 0.2s;
}

.plan:hover {
  background-color: #71a5ff;
}

.plan.active {
  border-radius: 12px 12px 12px 0;
  background-color: #062863;
  color: #fff;
}

.response {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .left-section,
  .right-section {
    width: 100vw;
  }

  .right-section {
    display: none;
  }
}
