<div class="main">
  <div class="left-section">
    <div class="brand">&nbsp;</div>

    <div class="form-area">
      <h1>Interest Calculator</h1>
      <div class="row">
        <div class="col-full">
          <div class="form-control">
            <label for="invest">Calculate interest for</label>
            <input type="radio" [(ngModel)]="data.type" name="type" id="invest" value="invest">
            <span>&nbsp; Investment</span>
            &nbsp;&nbsp;
            <input type="radio" [(ngModel)]="data.type" name="type" id="save" value="save">
            <span>&nbsp; Savings</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-half">
          <div class="form-control">
            <label for="amount">Amount</label>
            <input type="text" [(ngModel)]="data.amount" id="amount">
          </div>
        </div>
        <div class="col-half">
          <div class="form-control">
            <label for="duration">Duration in months</label>
            <input type="text" [(ngModel)]="data.duration" id="duration">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-half">
          <div class="form-control">
            <label for="rate">Rate in %</label>
            <input type="text" [(ngModel)]="data.rate" id="rate">
          </div>
        </div>

        <div class="col-half">
          <div class="form-control">
            <label for="frequency">Frequency</label>
            <select [(ngModel)]="data.frequency" id="frequency">
              <option value="monthly">Monthly</option>
              <option value="annually">Annually</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row-full">
          <input [disabled]="isCalculating" type="button" value="Calculate" (click)="handleCalculate()">
        </div>
      </div>
    </div>

    <div class="toggle-history">
      <a href="#history">Show Calculation History</a>
    </div>
  </div>
  <div class="right-section" id="history">
    <div class="messages" #messageContainer>
      <div class="message" [ngClass]="[m.isUser ? 'user' : 'piggy']" *ngFor="let m of messages">
        <div class="body" [innerHTML]="m.body"></div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
