<div class="main">
  <div class="left-section">
    <div class="brand">&nbsp;</div>

    <div class="form-area">
      <h1>Interest Calculator</h1>
      <p>Find out how much your savings will be worth in future</p>
      <div class="row">
        <div class="col-full">
          <div class="form-control">
            <label for="invest">Select your plan</label>
            <div class="plans">
              <span class="plan" [ngClass]="{ active: p.selected }" *ngFor="let p of piggyPlans"
                (click)="selectPlan(p)"><span [innerHTML]="p.icon"></span> {{ p.name }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-half">
          <div class="form-control">
            <label for="amount">How much do you want to save?</label>
            <input type="text" [(ngModel)]="data.amount" id="amount">
          </div>
        </div>
        <div class="col-half">
          <div class="form-control">
            <label for="duration">For how long (months)</label>
            <input type="text" [(ngModel)]="data.duration" id="duration">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row-full">
          <input [disabled]="isCalculating" type="button" value="Calculate" (click)="handleCalculate()">
        </div>
      </div>
    </div>

    <div class="response" [innerHTML]="message"></div>
  </div>
  <div class="right-section" id="history">
    <div class="hero">
      &nbsp;
    </div>
  </div>

  <div class="clearfix"></div>
</div>
